<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ site.title }}</title>
  <meta name="description" content="Le Mango Tree - Nouveau bar à jus de fruits sur Hossegor, Capbreton, Seignosse">

  <!-- Schema.org markup for Google+ -->
  <meta itemprop="name" content="{{ page.title }}">
  <meta itemprop="description" content="Le Mango Tree - Nouveau bar à jus de fruits sur Hossegor, Capbreton, Seignosse">
  <meta itemprop="image" content="{{ site.url }}/img/orange.jpg">

  <!-- Twitter Card data -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@lemangotree">
  <meta name="twitter:title" content="{{ page.title }}">
  <meta name="twitter:description" content="Le Mango Tree - Nouveau bar à jus de fruits sur Hossegor, Capbreton, Seignosse">
  <meta name="twitter:creator" content="@lemangotree">
  <!-- Twitter summary card with large image must be at least 280x150px -->
  <meta name="twitter:image:src" content="{{ site.url }}/img/orange.jpg">

  <!-- Open Graph data -->
  <meta property="og:title" content="{{ site.title }}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ page.url }}" />
  <meta property="og:image" content="{{ site.url }}/img/orange.jpg" />
  <meta property="og:description" content="Le Mango Tree - Nouveau bar à jus de fruits sur Hossegor, Capbreton, Seignosse" />
  <meta property="og:site_name" content="{{ site.title }}" />

  <link rel="stylesheet" href="{{ site.url }}/css/main.css">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800|Roboto:400,300,500,700,900' rel='stylesheet' type='text/css'>
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl }}" />
</head>