.ui-widget.ui-widget-content {
  margin-top: 5px !important;
  background: #fff !important;
  border: 1px solid rgba(0,0,0,0.2) !important;
}

.ui-widget-header {
  border: none !important;
  background: transparent !important;
  color: #555 !important;
  font-weight: 400 !important;
}

.ui-state-default {
  background: #fffcf4 !important;
  color: #38e2aa !important;
}